// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
  padding-left: 20px;
  padding: 5px;
}

table {
  text-align: left;
}

a:hover {
  color: black !important;
  background-color: transparent !important;
}

.bjpPropertyInfo {
  //background-color: red;
  position: relative;
  height: 580px;

}

.bjpPropertyDetails {
  position: relative;
 // background-color: blue;
  width: 400px;
  height: 400px;
  /*position: absolute;
  left: 0px;
  bottom: 0px;*/
  float: left;
 // margin-left: 10px;
  margin-top: 15px;
}

#bjpPropertyRating {
    position: absolute;
    top: 200px;
    right: 40px;

  }

@media (max-width: 400px) {
  
  
  .bjpGoogleMap > img {
 
  border-radius: 50px;
    position: relative;
  height: 300px;
  width: 300px;
  float: right;
  top: 140px;
    margin-bottom: 140px;
  }
} // end media



.bjpPropertyDescription {
  position: relative;
}

.bjpPropertyDescription blockquote {
  //padding: 10px 10px;
  word-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  height: 200px;
  width: 350px;
  //border: 2px solid black;
  //background-color: yellow;
}

.bjpGoogleMap {
 position: relative;
  
}

.bjpGoogleMap > img {
 
  border-radius: 50px;
  height: 400px;
  width: 350px;
  //background-color: green;
  /*position: absolute;
  right: 0px;
  bottom: 0px;*/
  float: right;
  margin-top: 30px;
 // margin-right: 10px;
}


