// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
  padding-left: 20px;
  padding: 5px;
}

table {
  text-align: left;
}

a:hover {
  color: black !important;
  background-color: transparent !important;
}

.bjpPropertyInfo {
  position: relative;
  height: 580px;
}

.bjpPropertyDetails {
  position: relative;
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 15px;
}

#bjpPropertyRating {
    position: absolute;
    top: 10px;
    right: -50px;
  }

#bjpWordWrap {
  word-wrap: break-word;
}

@media (max-width: 400px) {
  #bjpPropertyRating {
    position: absolute;
    top: 270px;
    right: 40px;
  }
  
  .bjpGoogleMap > img {
    border-radius: 50px;
    position: relative;
    height: 300px;
    width: 300px;
    float: right;
    top: 180px;
    margin-bottom: 140px;
  }
} // end media

.bjpPropertyDescription {
  position: relative;
}

.bjpPropertyDescription blockquote {
  word-wrap: break-word;
  overflow: scroll;
  overflow-x: hidden;
  border-radius: 5px;
  height: 200px;
  width: 350px;
}

.bjpGoogleMap {
 position: relative;
  
}

.bjpGoogleMap > img {
  border-radius: 50px;
  height: 400px;
  width: 350px;
  float: right;
  margin-top: 30px;
}


