// Place all the styles related to the properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th, td {
  padding-left: 20px;
  padding: 5px;
}

table {
  text-align: left;
}

a:hover {
  color: black !important;
  background-color: transparent !important;
}