<h1>Add a new Review</h1>

<%= form_for @review do |form| %>

<p>
  <%= form.label :review, 'Review'%><br>
  <%= form.text_area :review %> 
</p>
<p>
  <%= form.submit "Add your review"%>
</p>
<% end %>